---
import Header from '../sections/Header.astro';
import { URL_BASE } from '../config';


interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={URL_BASE + "icon-192x192.png"} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- SEO -->
		<meta name="description" content={description} />

		<!-- Social -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={URL_BASE + "img_principal.webp"} />
		<meta property="og:url" content={Astro.url} />
		
	</head>
	<body>
		<Header/>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--morado: #5b2094;
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	.btn-morado{
		background-color: var(--morado);
		display: inline-block;
		color: white;
		padding: 0.8rem 2rem;
		border-radius: 25px;
		text-decoration: none;
	}

	body{
		min-height: 98vh;
	}
</style>
